<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        margin: 0;
        box-sizing: border-box;
      }

      /* Background */

      #background {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: rgb(37, 47, 74);
        min-height: 100vh;
      }

      /* header */

      #forum-header {
        width: 100%;
        height: 70px;
        background-color: rgb(26, 33, 53);
        float: none;
        position: absolute;
      }

      /* header left */

      #forum-header-left {
        width: 50%;
        height: 100%;
        float: left;
        display: flex;
        align-items: center;
      }

      /* logo text */

      #logo-text {
        display: inline;
        color: white;
        font-weight: bold;
        margin-left: 20px;
      }

      /* header right */

      #forum-header-right {
        height: 100%;
        float: right;
      }

      /* user information */

      #header-user {
        display: inline-block;
        justify-content: flex-end;
        right: 50px;
      }

      /* user avatar */

      #header-user svg {
        margin-top: 5px;
        margin-right: 10px;
        width: 60px;
        height: auto;
        cursor: pointer;
        color: white;
        transition: 0.25s;
      }
      #header-user svg:hover {
        color: rgb(92, 203, 255);
      }

      /* body */

      #forum-body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        flex: 1;
      }

      /* nav bar */

      #body-nav {
        flex: 0 0 100px;
        padding: 10px;
        margin-top: 60px;
      }

      #body-toolbar {
        flex: 0 0 100px;
        padding: 10px;
      }

      #body-content {
        flex: 1;
      }
      .nav-bar ul {
        list-style-type: none;
        background-color: rgb(60, 84, 105);
        padding: 10px;
        margin: 10px;
        overflow: hidden;
        border-radius: 10px;
      }
      .nav-bar li {
        align-items: center;
        justify-items: center;
        float: left;
      }
      .nav-bar a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        padding: 20px;
        display: block;
        text-align: center;
        transition: 0.25s;
      }
      #body-selected-location {
        background-color: rgb(77, 98, 118);
        border-bottom: 3.5px solid rgb(85, 116, 141);
      }
      .nav-bar a:hover:not(#body-selected-location) {
        background-color: rgb(77, 98, 118);
        border-bottom: 3.5px solid rgb(85, 116, 141);
      }

      /* toolbar */

      #body-toolbar {
        text-align: left;
        display: flex;
      }

      /* toolbar left */

      #body-toolbar-left {
        width: 79%;
        margin-right: 1%;
        height: 100%;
        display: inline-block;
        background-color: rgb(60, 84, 105);
        padding: 20px;
      }

      #profile {
        height: 100%;
        width: 70%;
        color: white;
      }

      #profile button {
        font-size: 20px;
        margin-top: 20px;
        background-color: #4d6276;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        border: none;
        transition: 0.25s;
      }
      #profile button:hover {
        background-color: hsl(208, 21%, 48%);
      }

      #profile input {
        width: 300px;
        height: 35px;
        font-size: 13px;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #4d6276;
        border: 0.5px solid black;
        color: white;
      }
    </style>
    <title>Forum</title>
  </head>
  <body>
    <div id="background">
      <header id="forum-header">
        <div id="forum-header-left">
          <h1 id="logo-text">GALAXYVIRUS FORUM</h1>
        </div>
        <div id="forum-header-right">
          <a href="" id="header-user">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
          </a>
        </div>
      </header>
      <br />
      <main id="forum-body">
        <div id="body-nav">
          <nav class="nav-bar">
            <ul>
              <li><a href="/forum" id="body-selected-location">Home</a></li>
              <li><a href="">About us</a></li>
              <li><a href="">Donate</a></li>
              <li><a href="">Support</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div id="body-toolbar">
          <div id="body-toolbar-left">
            <div id="profile">
              <h1><%= ussername %></h1>
              <h3>Rank: <%= rank %></h3>
              <h3>UUID: <%= uuid %></h3>
              <h3>CreateAt: <%= createAt %></h3>
              <h3>TotalPost: <%= totalPost %></h3>
              <h3>TotalCommet: <%= totalComment %></h3>
              <h2>Chanage password</h2>
              <form action="/forum/user/chanagepassword/<%= uuid %>" method="post">
                <input type="password" id="password" name="password" placeholder="Password">
                <br>
                <input type="password" id="password" name="newPassword" placeholder="New password">
                <br>
                <input type="password" id="password" name="newComfirmPassword" placeholder="Comfirm new password">
                <br>
                <button type="submit">Chanage password</button>
              </form>
              <form action="/forum/user/<%= uuid %>" method="post">
                <button type="submit" name="logout">LOGOUT</button>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
